<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="../assets/styles/acercade.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <ul>
                    <li class="marca">Paula's</li> 
                    <li><a href="../../index.html">INICIO</a></li>
                    <li><a href="about.html">ACERCA DE</a></li>
                    <li><a href="content.html">SABORES</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <h2>Nuestro proyecto</h2>
            <article>
                <h3>Misión</h3>
                <p>Paula's tiene el objetivo de entregar productos de calidad a sus clientes, que cumplan con 
                    altos estandares en cuanto a sabor y textura.</p>
            </article>
            <article>
                <h3>Funciones</h3>
                <p>Este sitio esta diseñado para poder explorar la línea de lácteos de Paula's. Puedes 
                    conocer los distintos sabores y sus respectivos beneficios.</p>
            </article>
            <article>
                <h3>¿Qué puede encontrar?</h3>
                <p>En la sección de "Sabores" puedes encontrar nuestra variedad de opciones de 
                    yogurt de acuerdo a su preferencia y beneficio de salud que este buscando.</p>
            </article>
        </section>
    </main>

    <footer id="contacto">
        <p>Contacto: hola@paulascorp.com</p>
        <p>&copy; 2024 Paula's</p>
    </footer>

</body>
</html>