<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido</title>
    <link rel="stylesheet" href="../assets/styles/contenido.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <ul>
                    <li class="marca">Paula's</li> 
                    <li><a href="../../index.html">INICIO</a></li>
                    <li><a href="about.html">ACERCA DE</a></li>
                    <li><a href="content.html">SABORES</a></li>
                </ul>
            </div>
        </nav>
        <h1>Explora los distintos sabores de Paula's</h1>
    </header>

    <main>
        <section class="yogurt-container">
            <div class="yogurt-card">
                <img src="../assets/imgs/frutilla.jpg" alt="Frutilla">
                <h2>Yogurt de Frutilla</h2>
                <p>Origen: España</p>
                <p>Beneficio: Alto en vitamina C, ayuda al sistema inmune.</p>
            </div>
            <div class="yogurt-card">
                <img src="../assets/imgs/mango.jpg" alt="Mango">
                <h2>Yogurt de Mango</h2>
                <p>Origen: India</p>
                <p>Beneficio: Rico en antioxidantes, mejora la digestión.</p>
            </div>
            <div class="yogurt-card">
                <img src="../assets/imgs/arandano.jpg" alt="Arándano">
                <h2>Yogurt de Arándano</h2>
                <p>Origen: Estados Unidos</p>
                <p>Beneficio: Bajo en calorías, mejora la memoria.</p>
            </div>
            <div class="yogurt-card">
                <img src="../assets/imgs/durazno.png" alt="Durazno">
                <h2>Yogurt de Durazno</h2>
                <p>Origen: China</p>
                <p>Beneficio: Rico en fibra, ayuda al sistema digestivo.</p>
            </div>
            <div class="yogurt-card">
                <img src="../assets/imgs/piña.jpg" alt="Piña">
                <h2>Yogurt de Piña</h2>
                <p>Origen: Filipinas</p>
                <p>Beneficio: Contiene bromelina, ayuda a la digestión de proteínas.</p>
            </div>
        </section>
    </main>

    <footer id="contacto">
        <p>Contacto: hola@paulascorp.com</p>
        <p>&copy; 2024 Paula's</p>
    </footer>

</body>
</html>