body {
    font-family: Lucida Sans, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.6;
}

header {
    background-color: #FF7497;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li.marca {
    margin-right: auto; 
    font-weight: bold; 
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    transform: scale(1.1); 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.nav-container {
    background-color: #FFD166; 
    padding: 10px;
    margin: 10px auto;
    width: 97%; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.main {
    display: flex; 
    background-color: #f4f4f4;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}

article {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 30px;
}

article img {
    width: 100%;
    max-width: 400px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px; 
}

h2 {
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex; 
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}

footer p {
    margin: 0;
}