body {
    font-family: Lucida Sans, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.6;
}

header {
    background-color: #FF7497;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li.marca {
    margin-right: auto; 
    font-weight: bold; 
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.nav-container {
    background-color: #FFD166; 
    padding: 10px;
    margin: 10px auto;
    width: 97%; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

main {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 20px;
}

.yogurt-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.yogurt-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    width: 300px; /* Ajusta el ancho de las tarjetas según tu preferencia */
    text-align: center;
}

.yogurt-card img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex; 
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}

footer p {
    margin: 0;
}